{% extends 'base.html' %} {% block content %}
<form method="POST" class="login-form">
  <div class="container screen login-screen">
    {{ form.hidden_tag() }}

    <div class="login-container">
        <h1 class="loging-header">Vraag nieuw wachtwoord aan</h1>
        <div>
          <strong class="strong-normal">{{ form.input.label }}</strong>
          {{ form.input(class="form-control login-input") }}
          {{ form.submit(class="btn btn-danger login-btn") }}
        </div>
    </div>
  </div>
</form>
{% endblock %}
