{% extends 'base.html' %} {% block content %}
<form method="POST" class="login-form">
  <div class="container screen login-screen">
    {{ form.hidden_tag() }}

    <div class="login-container">
        <h1 class="loging-header">Maak nieuw wachtwoord aan</h1>
        <div>
            <strong class="strong-normal">{{ form.password.label }}</strong>
            {{ form.password(class="form-control login-input") }}
            <strong class="strong-normal">{{ form.confirm_password.label }}</strong>
            {{ form.confirm_password(class="form-control login-input") }}
            {{ form.submit(class="btn btn-danger login-btn") }}
        </div>
    </div>
  </div>
</form>
{% endblock %}
